{% extends 'base.html' %}

{% load template_extras %}

{% block content %}
	<section class="container detalhe_filme">
		<div class="container keep-size">
			<div class="header_filmes container">
				<h2 class="titulo">{{ filme.nome }}</h2>
			</div>
			<div class="float-left imagem_filme">
				<img class="imagem_principal" src="{{ filme.imagem.url }}" alt="filmes/imagens/">	
			</div>
			<div class="float-right informacao_filme">
				<h3>Sinopse:</h3>
				<p>{{filme.sinopse}}</p>

				<h3>Atores:</h3>
				<p class="paragrafo_destaque">{{ filme.atores.all|join_hiperlink }}</p>

				<h3>Gêneros:</h3>
				<p class="paragrafo_destaque">{{ filme.generos.all|join_hiperlink }}</p>
			</div>
		</div>
	</section>

	<section>
		<div class="container keep-size ">
			<div class="container relacionados">
				<h3 class="titulo_relacionados">Filmes Relacionados</h3>	
			</div>
			<ul class="listagem_relacionados keep-size">
				{% for item in filme.get_filmes_relacionados %}
					<li class="float-left ">
						<a href="{% url 'filme' item.pk %}">
							<img src="{{ item.imagem.url }}" alt="{{ item.nome }}" title="{{ item.nome }}"/>
						</a>
					</li>
				{% empty %}
					<li>Não há filmes relacionados no momento</li>
				{% endfor %}
			</ul>
		</div>
	</section>
{% endblock %}